body{
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(58, 40, 73);
    color: white;
    cursor: default;
}

.signUp, .logIn, .home{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

form{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.formButtonContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submitButtonForm, .goToLogInButton, .goToSignUpButton{
    margin-top: 20px;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 10px;
    border: none;
    transition: 0.2s background-color;
}

.submitButtonForm:hover, .goToLogInButton:hover, .goToSignUpButton:hover{
    cursor: pointer;
    background-color: rgb(196, 196, 196);
}
